<div class="browse">
  <h1>Movie Browser</h1>
  <h2>Keep track of the movies you love.</h2>

  <form id="search">
    <input type="search" placeholder="Search for a title..." id="movie-search">
    <input type="submit" value="Submit">
  </form>

  <!-- drop down menu where our search results load; this is hidden on page load by default using js -->
  <select id="movie-select">
    <option value="">Select a movie...</option>
  </select>
  
  <div id="movie-detail"></div>
</div>
<!-- Right-hand sidebar -->
  <div class="fave-box">
      <h2 class="faves-header">Your favorite movies</h2>
      <input type="button" name="name" value="Show All Saved Movies" id="showMovies">
      <ul class="fave-list">
      </ul>
 </div>
