p {
    width: 60%;
}
a {
    color: black;
}
a:visited {
    color: black;
}
.browse {
    width: 60%;
    margin: 0 auto;
}

#addFave {
    display: block;
    margin-top: 20px;
}
.fave-box {
    width: 33%;
    height: 95vh;
    border: 4px solid grey;
    border-radius: 10px;
    position: absolute;
    top: 10px;
    right: 20px;
    overflow: auto;
}

.faves-header {
    text-align: center;
}

#showMovies {
    display: block;
    margin: 0 auto;
}
